<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
    <meta charset="UTF-8">
    <title>Country Searcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="headline">
            <h1>Country Searcher</h1>
            <div class="search-bar-box">
                <input type="text" size="20" placeholder="e.g. Austria" id="search-bar">
                <button type="submit" id="submit-search" class="glow-on-hover" disabled>Search</button>
                </input>
            </div>
        </div>
        <div class="main-body">
            <div class="country-card">
                <h2>Country Name</h2>
                <div class="country-info">
                    <div class="region"><span>Region: </span></div>
                    <div class="currency"><span>Currency: </span></div>
                    <div class="language">
                        <span>Language(s):</span>
                        <ul class="languages">
                            <li>language</li>
                        </ul>
                    </div>
                    <div class="population"><span>Population: </span></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>