//This helps me debug style and see the boxes

/* * {
    border: 1px solid black;
} */

body {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

@media only screen and (max-device-width:799px) {
    body {
        width: fit-content;
    }
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    background: #efc894;
    color: #000;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    .headline {
        display: flex;
        background-color: #c5c4ab;
        color: #000;
        &>* {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5vh;
        }
        .search-bar-box {
            position: relative;
            display: inline;
            .autocomplete-list {
                position: absolute;
                border: 1px solid #d4d4d4;
                border-bottom: none;
                border-top: none;
                z-index: 99;
                /*position the autocomplete items to be the same width as the container:*/
                top: 100%;
                left: 0;
                right: 0;
            }
            .autocomplete-list div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }
            .autocomplete-list div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }
        }
    }
    .main-body {
        display: grid;
        .country-card {
            background-color: bisque;
            border: solid 1px white;
            padding: 1vh 2vh 2vh 1vh;
        }
    }
    .glow-on-hover {
        width: 10em;
        height: 3vh;
        border: none;
        outline: none;
        color: #fff;
        background: #cc0c06;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        &:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        &:disabled {
            color: #c5c4ab;
            cursor: not-allowed;
            font-weight: bolder;
        }
        &:active {
            color: #000;
            cursor: pointer;
        }
        &:active:after {
            background: transparent;
        }
        &:hover:before {
            opacity: 1;
        }
        &:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        @keyframes glowing {
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 400% 0;
            }
            100% {
                background-position: 0 0;
            }
        }
    }
    @media (min-device-width:800px) {
        #app {
            height: 100vh;
        }
        .main-body {
            min-height: 40vh;
            grid-auto-columns: minmax(20vh, auto);
            grid-template-columns: auto auto;
            column-gap: 2em;
            row-gap: 2em;
        }
    }
    @media only screen and (max-device-width:799px) {
        width: fit-content;
        .main-body {
            grid-auto-rows: minmax(20vh, auto);
            row-gap: 2em;
        }
    }
}